/* & ############################################################ */
/* & ########################## Navbar section style ########################## */
/* & ############################################################ */

/* ? ############################################################ */
/* ? ########################## hero section style ########################## */
/* ? ############################################################ */
@media screen and (min-width: 992px) {
  .hero .left-content img {
    height: 750px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  .hero .right-content {
    border-top-right-radius: 10px;
  }
}
